<!--Carte Annonce-->
<div class="bg-white shadow-1 p-5 rounded-lg  w-full max-w-[400px] mx-auto cursor-pointer hover:shadow-2xl transition ">
  <!--Image anonnce-->
  <img  src="/images/hero.jpg" alt="house photo" class="mb-8  rounded-xl">
  <!--Title -->
  <div class="mb-2 font-bold">
    Title Here
  </div>

  <!-- Status -->
  <div class="mb-2 flex gap-x-2 text-sm">
    <!-- Location ou vente -->
    <div class="bg-green-500 rounded-full text-white px-3">
      loc/ven
    </div>

    <!--Status du bien -->
    <div class="bg-violet-500 rounded-full text-white px-3">
      d/l/v
    </div>

    <!-- Prix -->

  </div>



   <!-- Date et prix -->
  <div class="flex justify-between">
    <!-- Date -->
    <div class="mb-2 flex items-center text-gray-600 gap-1">
      <!--Icone -->
      <div>
        <img src="/images/icons/calendar.svg" alt="" class="w-4">
      </div>
      <!--Date-->
      <div class="text-[14px]">
        12/12/2021
      </div>
    </div>

    <!-- Prix -->
    <div class="mb-2 flex items-center justify-center  text-gray-600 gap-1 py-1 px-2 bg-cyan-200 rounded-xl">
      <!--Date-->
      <div class="text-[14px] font-bold">
        10000
      </div>
      <!--Icone -->
      <div>
        <img src="/images/icons/euro.svg" alt="euro" class="w-4">
      </div>
      
    </div>

  </div>

  
  <!-- Description -->
  <div class="text-md font-light w-full ">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sed, doloribus maiores culpa consequuntur veritatis excepturi? Quae quod sapiente possimus, voluptate non impedit? Laboriosam perferendis necessitatibus distinctio atque ex eveniet?
  </div>


</div>