<!--Navbar-->
<header class="py-6 mb-16 border-b-4">
    <div class="container mx-auto flex justify-between items-center ">
      <a href="">
        Main Page
      </a>
      <nav>
        <a href="">Annonces</a>
      </nav>

      <div class="flex items-center gap-6">
        <a href="" class="bg-cyan-400 hover:bg-cyan-900 text-white rounded-lg px-4 py-2">Se connecter</a>
        <a href="" class="bg-cyan-700 hover:bg-cyan-900 text-white rounded-lg px-4 py-2">S'inscrire</a>
      </div>
    </div>
  </header>