<!DOCTYPE html>
<html>
  <head>
    <title>Error page </title>

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Error page</h1>
    <p>Sorry, an error has occured, Requested page not found!</p>
    <p><%= error %></p>
    
  </body>
</html>

