<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- block('content') %> <!-- Utiliser block pour le contenu principal -->
  </body>
</html>
