<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <div class="bg-white dark:bg-gray-900">
      <div class="flex justify-center h-screen">
        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
          <div class="flex-1">
            <div class="text-center">
              <h2
                class="text-4xl font-bold text-center text-gray-700 dark:text-white"
              >
                iMobNB
              </h2>

              <p class="mt-3 text-gray-500 dark:text-gray-300">
                Sign up to create your account.
              </p>
              <% if (error) { %>
              <span
                id="badge-dismiss-red"
                class="inline-flex items-center px-2 py-1 mr-2 text-sm font-medium text-red-800 bg-red-100 rounded dark:bg-red-900 dark:text-red-300"
              >
                <%= error %>
                <button
                  type="button"
                  class="inline-flex items-center p-1 ml-2 text-sm text-red-400 bg-transparent rounded-sm hover:bg-red-200 hover:text-red-900 dark:hover:bg-red-800 dark:hover:text-red-300"
                  data-dismiss-target="#badge-dismiss-red"
                  aria-label="Remove"
                  onclick="dismissBadge('#badge-dismiss-red')"
                >
                  <svg
                    class="w-2 h-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                  </svg>
                  <span class="sr-only">Remove badge</span>
                </button>
              </span>
              <% } %>
            </div>

            <div class="mt-8">
              <form action="/register" method="POST">
                <div>
                  <label
                    for="firstName"
                    class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                    >First Name</label
                  >
                  <input
                    type="text"
                    name="firstName"
                    id="firstName"
                    required
                    placeholder="first name"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                  />
                </div>
                <div>
                  <label
                    for="lastName"
                    class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    name="lastName"
                    id="lastName"
                    required
                    placeholder="last name"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                  />
                </div>
                <div>
                  <label
                    for="username"
                    class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                    >UserName</label
                  >
                  <input
                    type="text"
                    name="username"
                    id="username"
                    required
                    placeholder="username"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                  />
                </div>
                <div>
                  <label
                    for="phone"
                    class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                    >Your Phone</label
                  >
                  <input
                    type="tel"
                    name="phone"
                    id="phone"
                    required
                    placeholder="phone number"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                  />
                </div>
                <div>
                  <label
                    for="isAdmin"
                    class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                    >Register as Agent</label
                  >
                  <input
                    type="checkbox"
                    name="isAdmin"
                    id="isAdmin"
                    class="ml-3 accent-pink-500"
                    value="true"
                  />
                </div>

                <div class="mt-6">
                  <div class="flex justify-between mb-2">
                    <label
                      for="password"
                      class="text-sm text-gray-600 dark:text-gray-200"
                      >Password</label
                    >
                  </div>

                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Your Password"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                    required
                  />
                </div>

                <div class="mt-6">
                  <button
                    class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50"
                  >
                    <input type="submit" value="Register" />
                  </button>
                </div>
              </form>

              <p class="mt-6 text-sm text-center text-gray-400">
                Already have an account?
                <a
                  href="/login"
                  class="text-blue-500 focus:outline-none focus:underline hover:underline"
                  >Sign In</a
                >.
              </p>
            </div>
          </div>
        </div>
        <div
          class="hidden bg-cover lg:block lg:w-2/3"
          style="
            background-image: url(https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
          "
        >
          <div
            class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40"
          ></div>
        </div>
      </div>
    </div>
    <script>
      function dismissBadge(targetId) {
        const targetElement = document.querySelector(targetId);
        if (targetElement) {
          targetElement.style.transition = "opacity 0.5s ease";
          targetElement.style.opacity = "0";
          setTimeout(() => {
            targetElement.style.display = "none";
          }, 500); // Adjust the delay (in milliseconds) as needed
        }
      }
    </script>
  </body>
</html>
